{% extends "base.html" %} {% load static %} {% block content %}

    <!-- ***** About Us Area Start ***** -->
    <section class="medica-about-us-area">
        <!-- Card Area -->
        <div class="medica-card-area">
            <div class="container">
                <div class="row no-gutters">
                    <div class="medica-doctors-card wow fadeInUp" data-wow-delay="0.4s">
                        <h5>Sorry, your request failed.</h5>
                        <a href="#">Try again</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

{% endblock %}
