{% extends "base.html" %} {% load static %} {% block content %}
        <div class="container-contact100">
            <div class="wrap-contact100">
                <form class="contact100-form validate-form" method="post">
                    {% csrf_token %}
                    <span class="contact100-form-title">
                        New X-Ray
                    </span>
    
                    {% for field in form %}
                    <label class="label-input100" for="phone">{{ field.label }}</label>
                    <div class="wrap-input100">
                        {{ field }}
                        <span class="focus-input100"></span>
                    </div>
                    {% endfor %}

                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">
                            <span>
                                OK
                                <i class="zmdi zmdi-arrow-right m-l-8"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    
{% endblock %}