{% extends "base.html" %} {% load static %} {% block content %}

    <!-- ***** About Us Area Start ***** -->
    <section class="medica-about-us-area">
        <!-- Card Area -->
        <div class="medica-card-area">
            <div class="container">
                <div class="row no-gutters">

                        <div class="medica-emergency-card wow fadeInUp" data-wow-delay="0.2s">
                            <h5>Success</h5>
                            <h4>Your request has been successfully sent</h4>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

{% endblock %}
