{% extends "base.html" %} {% load static %} {% block content %}

    <!-- ***** About Us Area Start ***** -->
    <section class="medica-about-us-area">
        <!-- Card Area -->
        <div class="medica-card-area">
            <div class="container">
                <div class="row no-gutters">
                        <div class="medica-appointment-card wow fadeInUp" data-wow-delay="0.6s">
                            <h5>New Visit</h5>
                            <form action="#" method="post"> {% csrf_token %}
                                
                                <div class="form-group">
                                    {{ visit_form.as_p }}
                                </div>
                                <button type="submit" class="btn medica-btn mt-15">Add new Visit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}